<div *ngIf="item">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
        <h1 class="display-4">{{item.title}}</h1>
        <p class="lead">{{item.description}}</p>
        <p class="lead">{{item.difficulty}} / {{item.concert}} / {{item.famous}}</p>
        </div>
    </div>

    <div *ngIf="subItems">
        <div *ngFor="let subItem of subItems">
            <div class="card mb-3" style="max-width: 720px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img [src]="subItem.thumb_url" class="card-img-top" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{subItem.title}}</h5>
                              <p class="card-text">{{subItem.description}}</p>
                              <p class="card-text"><small class="text-muted">{{subItem.channel_title}} / {{simplifyTimeformat(subItem.publish_date)}}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>